.cart-action-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.cart-total-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 100px;
}